
.events-swiper {
    user-select: none;
}

.swiper-pagination-bullet {
    background: rgb(197, 197, 197);
    opacity: 0.6;
    /* background-image: linear-gradient(to bottom, red, rgb(196, 32, 32)); */
}


.swiper-pagination-bullet-active {
    background: red;
    opacity: 1;
}

.event-slide {
    width: 75vw;
}

.btn, .btn:link, .btn:visited {
    margin-top: 1.7rem;
    text-decoration: none;
    padding: 0.6rem 1.3rem;
    display: inline-block;
    border-radius: 10px;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  
  .btn--white {
    background: linear-gradient(to right, red 0%, rgb(209, 37, 37) 50%, rgb(172, 33, 33) 100%);
    color: #fffcfc; 
    font-family: "Space Grotesk", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
    .btn--white::after {
      background-color: #ff0a0a; }
  
  .btn--green {
    background-color: #55c57a;
    color: #fff; }
    .btn--green::after {
      background-color: #55c57a; }
  
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  
  .btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }

    @media (max-width: 410px) {
      h1 {
          font-size: 3rem !important;
      }

      h3{
        font-size: 2rem !important;
      }

  }

  /* For tablets */
@media (max-width: 1024px) {
  .hero-logo {
      flex: 0 0 60% !important;
      max-width: 90% !important;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .hero-logo {
      flex: 0 0 80% !important;
      max-width: 100% !important;
  }
}